/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-09-2019, 21:02:48
    Author     : Obaydah Mohamad
*/

.box{
	padding: 20px;
	border-radius: 2px;
	border: 1px solid #e1e1e1;
}
